/* generali */

body {
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

/* logo */

.logo {
    width: 150px;
    margin: 17px 0;
}

.sezione-logo {
    height: 70px;
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
    background-size: 200px;
}

/* titolo */

h1 {
    font-size: 36px;
    margin-bottom: 0;
}

figure {
    margin-left: 0;
}

/* autore */

address {
    font-style: normal;
    color: #838383;
}

a {
    text-decoration: none;
    color: #53bceb;
}

/* lista */

ul {
    padding-left: 15px;
}

/* tabella */
table {
    border-collapse: collapse;
}

thead {
    background-color: #1FA9E5;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #B1E4F2;
}

.colonna-larga {
    width: 50%
}

/* contenuto correlato */

h3 {
    color: #838383;
}

h4 {
    margin-top: 0;
}

.correlato {
    background-size: cover;
    width: 350px;
    height: 250px;
    color: white;
    padding: 10px;
    font-size: 25px;
    margin-bottom: 20px;
}

.primo-correlato {
    background-image: url(../img/monitor.jpg);
}

.secondo-correlato {
    background-image: url(../img/graph.jpg);

}