body{
    margin: 0;
}

/* logo */

.logo{
    width: 150px;
    /* padding: 25px 60px; */
margin: 20px;}

.sezione-logo{
    height: 70px;
    background-color: #4EA0FF;
background-image: url(../img/pattern.png);
background-size: 200px;
}      
       
.container-body{
    max-width: 800px;
margin: 0 auto;

}
/* titolo */

h1{
    font-size: 36px;;
}