body {
    margin: 0;
}

/* logo */

.logo {
    width: 150px;
    margin: 20px;
}

.sezione-logo {
    height: 70px;
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
    background-size: 200px;
}

/* titolo */

.intestazione {
    max-width: 800px;
    margin: 0 auto;
}


h1 {
    font-size: 36px;
    ;
    margin-bottom: 0px;
}

address {
    font-style: normal;
    color: #838383;
}

a {
    text-decoration: none;
    color: #53bceb;
}

/* main  */

.container-body {
    max-width: 800px;
    margin: 0 auto;
}

/* tabella */
table {
    border-collapse: collapse;
}

thead {
    background-color: #1FA9E5;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #B1E4F2;
}
th {
    width: 25%;
}
.colonna-larga{
    width: 50%
}